.slick-dots li.slick-active button:before {
  color: #738136;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  color: #738136;
  opacity: 0.6;
}

.slick-prev:before,
.slick-next:before {
  color: #881798;
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

.slick-slide > div
{
    height: 100%;
}
