.slick-dots li.slick-active button:before {
  color: #881798;
}

.slick-prev:before,
.slick-next:before {
  color: #881798;
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

.slick-slide {
  margin-bottom: 0;
  object-fit: cover;
}