.card {
  flex: 1 1 21rem;
  margin: 10px 20px;
  height: auto;
  flex-direction: column;
  align-items: center;
  background:'#fff';
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  padding: 10px 20px;
  align-self: normal;

}

.card img {
  height: fit-content;
  width: fit-content;
}

.card h4 {
  margin: 10px 0;
}

.card span {
  font-size: 1.3rem;
  margin: 10px 0;
}